.auth-box {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f5f5f5;
}

input, textarea, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}
